---
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { POSTS_CONFIG, DOCS_CONFIG } from '~/config'
import { getAllDocs } from '~/lib/data'
import Layout from '~/layouts/Layout.astro'
import Pagination from '~/components/base/Pagination.astro'
import List from '~/components/posts/card/List.astro'

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const sortedDocs = await getAllDocs()

  return paginate(sortedDocs, {
    pageSize: POSTS_CONFIG.postPageConfig.size,
  })
}

interface Props {
  page: Page<CollectionEntry<'docs'>>
}

const { page } = Astro.props

const { title, description, introduce } = DOCS_CONFIG
---

<Layout {title} {description}>
  <div class="relative z-[1] py-8 pb-10 px-6 sm:px-8">
    <h1 class="tracking-tight text-4xl sm:text-5xl bg-gradient-to-r from-primary to-primary/70 bg-clip-text text-transparent pb-1.5">
      {title}
    </h1>
    <div class="pro text-muted-foreground">
      <p class="mt-2">{introduce}</p>
    </div>

    <div class="mt-12">
      <List
        posts={page.data as any}
        type={POSTS_CONFIG.postPageConfig.type}
        coverLayout={POSTS_CONFIG.postPageConfig?.coverLayout}
        baseUrl="/docs"
      />
    </div>

    <Pagination {page} baseUrl="/docs" />
  </div>
</Layout>
